/* Estilos generales */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Evita el desplazamiento normal */
}

/* Ocultar la barra de desplazamiento */
#mainContent {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* Scroll snap */
  scroll-behavior: smooth; /* Comportamiento de scroll suave */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#mainContent::-webkit-scrollbar {
  display: none; /* Ocultar barra de desplazamiento en Chrome, Safari y Opera */
}

/* Estilos para las secciones */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Cada sección ocupa el 100% de la pantalla */
  font-size: 2rem;
  scroll-snap-align: start; /* Alineación de scroll */
}

/* Estilos para la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Estilos para la navegación lateral */
.nav-indicators {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.nav-indicators a {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  margin: 10px 0;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-indicators a.active {
  background-color: #666;
  transform: scale(1.2);
}

.nav-indicators a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}

.nav-indicators a.active::before {
  transform: translate(-50%, -50%) scale(1);
}

.particle {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0;
  animation: particle-animation 1s forwards;
}

@keyframes particle-animation {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px) scale(0.5);
    opacity: 0;
  }
}
